<div class="main-container">
  <div class="header">
    SESSIONS SCHEDULER
  </div>

  <div class="body">
    <div class="row">
      <div class="card">
        <div class="card-header">
          <div class="header-text">
            <h1>Period</h1>
            <small>the period acts as a boundary for sessions</small>
          </div>
        </div>

        <div class="card-body">
          <form [formGroup]="periodForm" (ngSubmit)="setPeriod()">
            <div class="row">
              <div class="col-25">
                <label for="period-start">Start:</label>
              </div>
              <div class="col-75">
                <input type="date" id="period-start" formControlName="start" name="period-start">
                <div class="error-messages" *ngIf="periodStart.touched">
                  <div *ngIf="periodStart.invalid && periodStart.dirty">* Period Start needs to be at least 1 digit</div>
                  <div *ngIf="!periodStart.value">* Period Start value is required</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="period-end">End:</label>
              </div>
              <div class="col-75">
                <input type="date" id="period-end" formControlName="end" name="period-end">
                <div class="error-messages" *ngIf="periodEnd.touched">
                  <div *ngIf="periodEnd.invalid && periodEnd.dirty">* Period End needs to be at least 1 digit</div>
                  <div *ngIf="!periodEnd.value">* Period End value is required</div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="card-footer">
          <button type="submit" class="button" (click)="setPeriod()">SET</button>
        </div>
        <small *ngIf="periodRecorded" class="success-messages">Period bounds are from {{periodStart.value}} to {{periodEnd.value}} </small>
      </div>

      <div class="card" *ngIf="periodRecorded">
        <div class="card-header">
          <div class="header-text">
            <h1>Sesssion</h1>
            <small>Please add a session</small>
          </div>
        </div>

        <div class="card-body">
          <form [formGroup]="sessionForm" (ngSubmit)="addSession()">
            <div class="row">
              <div class="col-25">
                <label for="session-start">Start:</label>
              </div>
              <div class="col-75">
                <input type="date" id="session-start" formControlName="start" name="session-start">
                <div class="error-messages" *ngIf="sessionStart.touched">
                  <div *ngIf="sessionStart.invalid && sessionStart.dirty">* Session Start value needs to be at least 1 digit</div>
                  <div *ngIf="!sessionStart.value">* Session Start value is required</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="session-end">End:</label>
              </div>
              <div class="col-75">
                <input type="date" id="session-end" formControlName="end" name="session-end">
                <div class="error-messages" *ngIf="sessionEnd.touched">
                  <div *ngIf="sessionEnd.invalid && sessionEnd.dirty">* Session End needs to be at least 1 digit</div>
                  <div *ngIf="!sessionEnd.value">* Session End value is required</div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="card-footer">
          <button type="submit" class="button" (click)="addSession()">ADD</button>
        </div>
        <small *ngIf="sessionOutOfBoundError" class="error-messages">Error: Session is out of bounds</small>
      </div>
    </div>

    <div class="row" *ngIf="sessionRecorded">
      <div class="table">
        <div class="table-head">
          <div class="table-cell">Name</div>
          <div class="table-cell">Start</div>
          <div class="table-cell">End</div>
          <div class="table-cell">Total Days</div>
        </div>

        <div class="table-body">
          <div class="table-row" *ngFor="let session of sessions">
            <div class="table-cell">{{session.name}}</div>
            <div class="table-cell">{{session.start | date: 'mediumDate'}}</div>
            <div class="table-cell">{{session.end | date: 'mediumDate'}}</div>
            <div class="table-cell">{{session.end.getDate() - session.start.getDate()}}</div>
          </div>
        </div>

        <div class="table-footer">
          <button type="submit"
                  class="button"
                  *ngIf="!plotSessions"
                  (click)="plotSessionsTimeline()">PLOT</button>
          <button
            type="submit"
            class="button"
            (click)="resetAll()">RESET ALL</button>
        </div>
        <div class="table-footer" *ngIf="plotSessions">
          <div>Total overlap = {{sessionOverlaps}} days</div>
          <div>Effective Aggregate Duration = {{totalSessionsAggregate}} days</div>
        </div>
      </div>
    </div>

    <div class="row">
      <app-timeline id="timeline-chart"
                    [sessions]="sessions"
                    *ngIf="plotSessions">
      </app-timeline>
    </div>
  </div>

  <div class="footer">
    <small>© 2021 Sessions Scheduler. Get in-touch with the <a target="_blank" href="https://kmodipa.web.app/">Developer</a></small>
  </div>
</div>


