@import "page-size-mixin";
@import "colors";

.table {
  margin: 1rem 0rem;
  color: $secondary-color;
  width: 50%;

  @include breakpoints(mobile) {
    width: 100%;
  }

  .table-head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr;
    font-weight: 600;
    font-size: 1.1rem;
    padding: .5rem;

    .table-cell {
      padding-left: .3rem;
    }
  }

  .table-body {
    .table-row {
      margin-bottom: .5rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr .5fr;
      padding: .5rem;

      button {
        padding: 9px 23px;
        background: $primary-color;
        border-radius: 20px;
        outline: none;
      }

      .table-cell {
        padding: .5rem;
      }

    }

    .table-row:nth-child(odd) {
      background-color: $clr-table-gray-stripe;
    }
  }

  .table-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: .7px solid $secondary-color;

    button {
      outline: unset;
      font-weight: 300;
    }

    .reset {
      color: $primary-color;
      background: $clr-white;
      padding-left: 0;
      padding-right: 0;
    }

    .submit {
      background: $primary-color;
      color: $clr-white;
      padding: 9px 30px;
    }
  }
}
